@import "styles/mixins";
@import "styles/variables";

.wrapper {
  margin-bottom: 60px;
  background: var(--clean-white);
}

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  width: 100%;
  padding: 30px 30px 0;
}

.title {
  margin: 0 0 24px;
  color: var(--black);
  font-size: 1.625rem;
  line-height: 1.95rem;
}

.list {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 24px;
  list-style: none;
}

.list-item {
  width: calc(25% - 16px);
}

.text {
  margin: 0;
  color: var(--second-black);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: color 0.3s;

  &:hover {
    color: var(--corporate-red);
    cursor: pointer;
  }
}

.date {
  margin-top: 9px;
  color: var(--black);
  font-size: 0.875rem;
}

.actions {
  font-size: 1.0625rem;
  line-height: 1.0625rem;

  a {
    color: var(--second-black);

    &:hover {
      color: var(--corporate-red);
    }
  }
}
