.wrapper {
  position: relative;
  z-index: 1;
}

.button {
  display: flex;
  align-items: center;
  color: var(--second-black);
  cursor: pointer;

  &:hover {
    color: var(--second-black-hover);
  }

  &.open {
    color: var(--second-black-hover);
  }
}

.list {
  position: absolute;
  top: calc(100% + 23px);
  left: 50%;
  display: none;
  padding: 25px;
  border: 1px solid var(--gray-frame);
  background: var(--clean-white);
  border-radius: 10px;
  transform: translateX(-50%);

  &.open {
    display: block;
  }
}

.pointer {
  position: absolute;
  z-index: 100;
  top: -17px;
  left: 15px;
  line-height: normal;

  &::before {
    position: absolute;
    right: 9px;
    bottom: 4.7px;
    left: 9px;
    height: 1px;
    background-color: var(--clean-white);
    content: "";
  }
}

.item {
  margin-bottom: 15px;
  color: var(--second-black);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  &:last-child { margin-bottom: 0; }

  &:hover {
    color: var(--second-black-hover);
  }
}
