@import "styles/mixins";
@import "styles/variables";

.wrapper {
  background: var(--clean-white);
}

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 35px 0;
}

.title {
  margin: 70px 0 14px;
  color: var(--black);
  font-size: 1.25rem;
  line-height: 1.65rem;
}

.text {
  padding: 0;
  margin: 0 0 14px;
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #c8ccd0;
  transition: color 0.3s;
}

.list-item {
  position: relative;
  width: calc(25% - 16px);
  min-height: 278px;
  align-self: stretch;
  padding: 30px;
  background-color: #f4f5f6;
  border-radius: 18px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;

  &:hover {
    background-color: #e9ebec;

    .icon {
      color: #757f8a;
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
