@import "styles/mixins";
@import "styles/variables";

.wrapper {
  position: relative;

  @media (max-width: $mobile) {
    margin-right: -25px;
    margin-left: -25px;

    &::before {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      width: 25px;
      background: linear-gradient(90deg, var(--clean-white) -11.76%, $tr 220.59%);
      content: "";
    }

    &::after {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      width: 25px;
      background: linear-gradient(270deg, var(--clean-white) -11.76%, $tr 220.59%);
      content: "";
    }
  }
}

.list {
  z-index: 0;
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (max-width: $mobile) {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.item {
  flex: none;
  margin-right: 25px;
  color: var(--second-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;

  &:hover {
    color: var(--second-black-hover);
  }

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $mobile) {
    &:first-child {
      margin-left: 25px;
    }

    &:last-child {
      margin-right: 25px;
    }
  }
}

.dropdownList {
  position: absolute;
  z-index: $z-overlay;
  top: 131px;
  right: 0;
  left: 0;
  padding: 25px 0;
  border-bottom: 1px solid var(--gray-frame);
  background: var(--clean-white);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s;

  @media (max-width: $mobile) {
    top: 190px;
  }

  &.hover,
  &:hover {
    opacity: 1;
    pointer-events: all;
  }
}

.container {
  @include container;
}

.pointer {
  position: absolute;
  z-index: 0;
  top: calc(100% + 9px);
  left: calc(50% - 26.5px);
  display: none;
  line-height: normal;

  &::before {
    position: absolute;
    right: 9px;
    bottom: 4.7px;
    left: 9px;
    height: 1px;
    background-color: var(--clean-white);
    content: "";
  }
}

.dropdownChevron {
  margin-left: 3px;
  transition: transform 0.3s;
}

.dropdown {
  position: relative;

  &:hover {
    & .dropdownList {
      opacity: 1;
      pointer-events: all;
      transform: translateX(-50%) translateY(0);

      @media (max-width: $mobile) {
        display: block;
        transform: translateX(0) translateY(0);
      }
    }

    & .dropdownChevron {
      transform: rotate(180deg);
    }
  }
}

.dropdownTitle {
  position: relative;
  z-index: 1;
  display: flex;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 100%;
    right: -25px;
    left: -25px;
    height: 26px;
    content: "";
  }
}

.dropdownItem {
  width: max-content;
  max-width: 100%;
  margin-bottom: 15px;
  color: var(--black);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;

  &:last-child { margin-bottom: 0; }

  &:hover {
    color: var(--corporate-red);
  }
}
