@import "styles/variables";

.wrapper {
  width: calc((100% - 25px) / 2);
  flex: none;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: $mobile) {
    justify-content: center;
  }

  & .col {
    display: flex;
    min-width: calc((100% - 10px) / 2);
    flex: none;

    &:first-child {
      margin-right: 10px;

      @media (max-width: $mobile) {
        margin-right: 0;
      }
    }

    @media (max-width: $mobile) {
      width: 100%;
      justify-content: center;
    }
  }
}

.table {
  padding-top: 20px;

  @media (max-width: $mobile) {
    max-width: 400px;
    margin: 0 auto;
  }
}

.header {
  padding-bottom: 22px;
  color: var(--second-black);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.data {
  width: auto;
  padding-right: 50px;
  padding-bottom: 10px;
  color: var(--second-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  vertical-align: middle;

  @media (max-width: $mobile) {
    padding-right: 25px;
    padding-bottom: 25px;
  }

  &:last-child {
    padding-right: 0;
  }

  &:nth-child(1) {
    width: calc(#{$container-width} / 4);
    padding-right: 0;
    text-align: left;

    @media (max-width: $mobile) {
      width: 100%;
      padding-right: 10px;
    }
  }
}

.currency {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
}

.flag {
  margin-right: 15px;

  @media (max-width: $mobile) {
    display: none;
  }
}

.value,
.arrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.arrow {
  margin-left: 5px;
}
