@import "styles/mixins";
@import "styles/variables";

.wrapper {
  margin-bottom: 60px;
  background-color: var(--clean-white);
}

.container {
  @include container;
}

.content {
  padding: 30px 30px 0;
}

.title {
  margin: 0 0 24px;
  color: var(--black);
  font-size: 1.625rem;
  line-height: 1.95rem;
}

.actions {
  font-size: 1.0625rem;
  line-height: 1.0625rem;

  a {
    color: var(--second-black);

    &:hover {
      color: var(--corporate-red);
    }
  }
}

.rates {
  display: grid;
  margin-bottom: 36px;
  font-variant: tabular-nums;
  grid-template-columns: repeat(5, auto);

  div {
    padding-top: 9px;
    padding-bottom: 0;
    padding-left: 16px;
    border-left: 1px solid rgb(0 0 0 / 10%);
  }

  p {
    padding: 6px 0 6px 16px;
    margin: 0;

    &:not(.th) {
      border-top: 1px solid rgb(0 0 0 / 7%);
    }

    &.currency {
      padding-left: 0;
    }

    &.th {
      padding-top: 12px;
      padding-bottom: 16px;
      font-size: 18px;
      font-weight: 600;
    }

    &.buy {
      border-left: 1px solid rgb(0 0 0 / 10%);
    }
  }

  .cash {
    grid-column: 2;
  }

  .transfer {
    grid-column: 4;
  }

  .currency {
    grid-column: 1;
  }
}
