@import "styles/mixins";
@import "styles/variables";

.wrapper {
  background: var(--gray-background);
}

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 80px 60px;
}

.title {
  margin: 0 0 26px;
  color: var(--black);
  font-size: 2.625rem;
  line-height: 2.8125rem;
}

.list {
  padding: 0;
  margin: 0 0 34px;
  color: var(--black);
  font-size: 1.125rem;
  line-height: 1.875rem;
  list-style: none;
}

.list-item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.actions {}

.image {
  width: 50%;
  flex: none;
  align-self: stretch;
  background-image: url("../../../media/abb-kids-cards.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
