@import "styles/mixins";
@import "styles/variables";

.wrapper {
  background: var(--clean-white);
}

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding: 70px 0 35px;
}

.title {
  margin: 0 0 14px;
  color: var(--black);
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.text {
  padding: 0;
  margin: 0 0 14px;
  color: var(--black);
  font-size: 1.0625rem;
  line-height: 1.59rem;
  list-style: none;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.list-item {
  width: calc(50% - 16px);
  align-self: stretch;
  padding: 60px 220px 60px 40px;
  border: 1px solid var(--gray-frame);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 22px;

  &.client {
    background-image: url("./../../../media/new-client.png");
  }

  &.credit {
    background-image: url("./../../../media/get-credit.png");
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.actions {
  color: var(--second-black);
  font-size: 1.0625rem;
  line-height: 1.59rem;
  transition: color 0.3s;

  a {
    cursor: pointer;

    &:hover {
      color: var(--corporate-red);
    }
  }
}

.image {
  width: 50%;
  flex: none;
  align-self: stretch;
  background-image: url("../../../media/abb-kids-cards.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
