@import "styles/variables";

// Контейнер для контента страницы
@mixin container {
  width: 1176px;
  margin: 0 auto;

  @media (max-width: 1244px) {
    width: 100%;
    padding: 0 25px;
  }
}

// Подключение шрифта для заголовка
@mixin title-font {
  font-family:
    FactorIO,
    "ALS Hauss",
    "Graphik Armenian Web",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}
